body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: white;
  background: #26272c;
  height: 100%;
  position: relative;
     

}


a {
  color: #0014ff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0014ff;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}
p2{
	  font-weight:bold;
  font-size:20px;
  color:white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family:"Raider Crusader Straight";
  font-weight: 400;
  margin: 0 0 30px 0;
    
}

::-webkit-selection {
  color: #fff;
  background: #0014ff;
}

::-moz-selection {
  color: #fff;
  background: #0014ff;
}

::selection {
  color: #fff;
  background: #0014ff;
}

#navigation {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
}

#navigation .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}

#navigation #navbar.navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#navigation #navbar .navbar-right {
  margin-right: 0;
}

h2 {

  font-size: 38px !important;
}

.tag1 {
  position: relative;
  top: 60vh;
}

.a {
  color: blue;
    text-transform: uppercase;
}

::-moz-selection {
  color: #fff;
  background: #0014ff;
}
#navigation {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
}
#navigation .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#navigation #navbar.navbar-collapse {
  border-top: 0px solid rgb(255, 255, 255);
}
#navigation #navbar .navbar-right {
  margin-right: 0;
}
@media screen and (max-width: 992px) {
  #navigation #navbar .navbar-right {
    margin-right: -15px;
  }
}
#navigation #navbar li a {
  font-family: "Open Sans", Arial, sans-serif;
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 19px;
  font-weight: bold;
    
}
@media screen and (max-width: 992px) {
  #navigation #navbar li a {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
#navigation #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#navigation #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top:36px;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#navigation #navbar li a:hover {
  color: #fff;
}
#navigation #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
@media screen and (max-width: 480px) {
  #navigation #navbar li a:hover span:before {
    display: none;
  }
}
#navigation #navbar li.active a {
  background: transparent;
  background: none;
  color:blue;
}
@media screen and (max-width: 480px) {
  #navigation #navbar li.active a {
    color: #fff;
  }
}
#navigation #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #fff;
}
@media screen and (max-width: 480px) {
  #navigation #navbar li.active a span:before {
    background-color: transparent;
  }
}
#navigation #navbar li.call-to-action {
  margin-left: 10px;
}
#navigation #navbar li.call-to-action a {
  border: none;
  padding: 2px 20px 2px 20px;
  margin: 12px 0 0 0px;
  line-height: 1.5;
  background-color: blue;
  border: 2px solid rgb(255, 255, 255);
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#navigation #navbar li.call-to-action a:hover {
  border: 2px solid rgb(255, 255, 255);
  color: #fff;
}
#navigation #navbar li.call-to-action a span:before {
  background-color: transparent;
}
#navigation .navbar-brand {
  float: left;
  display: block;
  font-size: 24px;
  font-weight: 700;
  padding-left: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}
@media screen and (max-width: 992px) {
  #navigation .navbar-brand {
    padding-left: 10px !important;
    padding-right: 0 !important;
  }
}
#navigation.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin-top: 0px;
  top: 0;
}
#navigation.navbar-fixed-top #navbar li a {
  color: rgb(255, 255, 255) !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#navigation.navbar-fixed-top #navbar li a:hover {
  color: #d73930;
}
#navigation.navbar-fixed-top #navbar li.active a {
  color: blue !important;
}
@media screen and (max-width: 768px) {
  #navigation.navbar-fixed-top #navbar li.active a {
    color: blue!important;
      text-align: center;
    }
      #navigation #navbar li a {
          text-align: center;
    }
  }
}
#navigation.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  #navigation.navbar-fixed-top #navbar li.active a span:before {
    background-color: transparent;
  }
}
#navigation.navbar-fixed-top #navbar li.call-to-action a {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#navigation.navbar-fixed-top #navbar li.call-to-action a:hover {
  background-color: #d73930;
  color: #fff !important;
}
#navigation.navbar-fixed-top #navbar li.call-to-action a span:before {
  background-color: transparent;
}
#navigation .navbar-default {
  border: transparent;
  background: #1a1b1e;
  background: #d73930;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #navigation .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#navigation .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#navigation .navbar-default .brand-slogan em {
  color: #d73930;
  font-style: normal;
}


.lead {
  font-size: 18px;
}

img {
  margin-bottom: 40px;
    margin-right: 0px;
}

.img-shadow {
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
}

#mainbg {
  background-attachment: fixed;
  position: relative;
  width: 100%;
  color: #fff;
  opacity: 1;
}

#mainbg h2 {
  font-family: "Prata", serif;
  font-size: 20px !important;
  color: white !important;
}

#mainbg a {
  color: rgba(255, 255, 255, 0.8) !important;
  text-decoration: underline;
}

#mainbg a:hover {
  color: #fff;
  text-decoration: none;
}

#mainbg .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background: url(https://i.ibb.co/wsDR3Ft/bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mainbg,
#mainbg .text-wrap {
  height: 100vh;
}

#mainbg .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}

#mainbg .text-inner {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
    font-weight: bold;
}

#mainbg .text-inner h1 {
  font-size: 59px;
  text-transform: uppercase;
  color: white;
  margin: 0 0 20px 0;
  font-weight: bold;
       font-family:"Raider Crusader Straight";
}

#mainbg .text-inner h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  color: red;
  margin: 0 0 60px 0;
}

#mainbg .text-inner .call-to-action {
  display: block;
  width: 100%;
}

#mainbg .text-inner .call-to-action a {
  width: 230px;
  display: inline-block;
  font-size: 20px;
  padding: 15px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-right: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
}

#mainbg .text-inner .call-to-action a.demo {
  border: 2px solid #fff;
  text-decoration: none !important;
}

@media screen and (max-width: 768px) {
  #mainbg .text-inner .call-to-action a.demo {
    margin-bottom: 20px;
  }
}

#mainbg .text-inner .call-to-action a.demo:hover {
  background: rgba(255, 255, 255, 0.2);
}

#mainbg .text-inner .call-to-action a.download {
  border: 2px solid white;
  background: blue;
  text-decoration: none !important;
}

#fh5co-services,
#sponsors,
#fh5co-about,
#fh5co-explore,
#fh5co-faq,
#about-us,
#fh5co-trusted,
#footer {
  padding: 5em 0;
}

@media screen and (max-width: 768px) {

  #fh5co-services,
  #sponsors,
  #fh5co-about,
  #fh5co-explore,
  #fh5co-faq,
  #about-us,
  #fh5co-trusted,
  #footer {
    padding: 2em 0;
  }
}

#fh5co-about {
  padding: 7em 0;
}

@media screen and (max-width: 768px) {
  #fh5co-about {
    padding: 4em 0;
  }
}

.fh5co-explore {
  padding-bottom: 40px;
}

.fh5co-explore-bg-color {
  width: 100%;
  background: #1a1b1e;
  padding: 7em 0;
  margin-bottom: 0;
}

.mt {
  margin-top: 0px;
  margin-bottom: 80px;
}

.mt h4 {
  position: relative;
  padding-left: 40px;
  font-size: 20px;
}

.mt h4 i {
  position: absolute;
  left: 0;
  top: 0;
  color: #eb212e;
}

.mt>div {
  margin-bottom: 40px;
}

.mt .list-nav {
  margin: 50px 0 0 0;
  padding: 0;
}

.mt .list-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
}

.mt .list-nav li i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  color: #eb212e;
}

.list-nav {
  margin: 30px 0 30px 0;
  padding: 0;
}

.list-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
}

.list-nav li i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  color: #eb212e;
}

#sponsors {
  background: #1a1b1e;
  padding: 5em 0;
}

@media screen and (max-width: 768px) {
  #sponsors {
    padding: 3em 0;
  }
}

#sponsors .wrapy {
  position: relative;
  width: 100%;
}

#sponsors .wrapy .show {
  text-align: center;
}

#sponsors .wrapy .show span {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
    color:white;
  font-family:"Raider Crusader Straight" !important;
}

#sponsors .wrapy .show span a.twitter {
  color: #0014ff;
  font-weight: 300;
}

#sponsors .wrapy .show figure {
  margin-bottom: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#sponsors .wrapy .show figure img {
  width: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#sponsors .wrapy .show blockquote {
  border: none;
  margin: 0 auto;
  width: 72%;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  #sponsors .wrapy .show blockquote {
    width: 100%;
  }
}

#sponsors .wrapy .show blockquote p {
  font-style: normal;
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.6em;
}

#sponsors .wrapy .show blockquote:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #0014ff;
  left: 50%;
  margin-left: -25px;
  bottom: 0;
}

#sponsors .wrapy .show.active {
  display: block;
}

#sponsors .wrapy .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}

#sponsors .wrapy .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}

#sponsors .wrapy .arrow-thumb a:hover,
#sponsors .wrapy .arrow-thumb a:focus,
#sponsors .wrapy .arrow-thumb a:active {
  text-decoration: none;
}

.getting-started {
  background: #0014ff;
  padding: 60px 0 40px 0;
}

.getting-started h3 {
  color: #fff;
 font-weight: bold !important;
}

.getting-started p {
  color: rgba(255, 255, 255, 0.8);
}

.getting-started .call-to-action {
  display: block;
  width: 100%;
  float: left;
}

@media screen and (max-width: 992px) {
  .getting-started .call-to-action {
    float: none !important;
    width: 100%;
    text-align: left !important;
  }
}

.getting-started .call-to-action a.sign-up {
  float: right;
  margin-top: 20px;
  padding: 18px 60px;
  background: #fff;
  color: #0014ff;
  font-family:"Raider Crusader Straight"; !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 992px) {
  .getting-started .call-to-action a.sign-up {
    float: left !important;
  }
}

.getting-started .call-to-action a.sign-up:hover,
.getting-started .call-to-action a.sign-up:focus,
.getting-started .call-to-action a.sign-up:active {
  text-decoration: none;
}

.getting-started .call-to-action a.sign-up:hover {
  background: #fff;
}

.fh5co-pricing {
  padding: 4em 0 6em 0;
  background: #1a1b1e;
}

.fh5co-pricing .pricing {
  display: block;
  float: left;
  margin-bottom: 30px;
}

.fh5co-pricing .price-box {
  text-align: center;
  padding: 30px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;
  -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
}

.fh5co-pricing .price-box.popular .btn-select-plan {
  background: #0014ff;
}

.fh5co-pricing .price-box .btn-select-plan {
  padding: 10px 20px;
  background: #eb212e;
  color: #fff;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.15);
}

.fh5co-pricing .pricing-plan {
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #888f94;
}

.fh5co-pricing .pricing-plan.pricing-plan-offer {
  margin-bottom: 24px;
}

.fh5co-pricing .pricing-plan span {
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  color: #d5d8db;
}

.fh5co-pricing .price {
  font-size: 72px;
  color: #6d6d6d;
  line-height: 50px;
}

.fh5co-pricing .price .currency {
  font-size: 30px;
  top: -0.9em;
  padding-right: 10px;
}

.fh5co-pricing .price small {
  font-size: 13px;
  display: block;
  text-transform: uppercase;
  color: #888f94;
}

.fh5co-services .box-services {
  position: relative;
  margin-bottom: 70px;
}

.fh5co-services .box-services i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 38px;
  color: #eb212e;
}

.fh5co-services .fh5co-post {
  padding-left: 75px;
}

.fh5co-services .fh5co-post h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.fh5co-services .call-to-action .btn-learn {
  padding: 12px 30px;
  background: #eb212e;
  color: #fff;
}

#about-us {
  background: #1a1b1e;
  height: auto;
}

#about-us .team-box {
  position: relative;
  padding: 30px;
  padding-top: 2em;
  float: left;
  width: 100vh;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  #about-us .team-box {
    margin-bottom: 40px;
  }
    .news {
        margin-bottom: 40px;
    }
}

#about-us .team-box .user {
  position: relative;
  margin-bottom: 20px;
}

#about-us .team-box .user img {
  width: 222px;
  height: auto;
  margin-bottom: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#about-us .team-box h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

#about-us .team-box .position {
  font-size: 18px;
  color: white;
  display: block;
  margin-bottom: 30px;
}

#about-us .team-box .social-media {
  margin: 0;
  padding: 0;
}

#about-us .team-box .social-media li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-right: 10px;
}

#about-us .team-box .social-media li a {
  color: #3e3f47;
}

#about-us .team-box .social-media li a:hover,
#about-us .team-box .social-media li a:focus,
#about-us .team-box .social-media li a:active {
  text-decoration: none;
  color: #0014ff;
   !important;
}

.box-faq {
  margin-bottom: 60px;
}

.box-faq h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.partner-logo {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  vertical-align: middle;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 0px;
  clear: both;
}

.section-heading h2 {
  margin: 0 0 0 0;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  position: relative;
  display: block;
  padding-bottom: 10px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 28px;
  }
}

.section-heading h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #555863;
  position: relative;
  display: block;
  padding-bottom: 30px;
  font-family: "Prata", serif;
}

.section-heading h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #0014ff;
  left: 50%;
  margin-left: -25px;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 16px !important;
    line-height: 28px;
  }
}

#footer {
  background: #26272c;
}

#footer a {
  color: #74889e;
}

#footer a:hover {
  color: #fff !important;
  text-decoration: underline;
}

#footer .section-title {
  font-size: 22px;
  color: #fff;
  position: relative;
  padding-bottom: 20px;
}

#footer .section-title:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  display: block;
  width: 35px;
  height: 2px;
  background: #;
}

#footer .copy-right {
  position: relative;
  padding-top: 20px;
  margin-top: 40px;
}

#footer .copy-right>a {
  color: #0014ff;
}

#footer .copy-right:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  height: 2px;
  background: #0014ff;
}

#footer .contact-info {
  margin: 0 0 60px 0;
  padding: 0;
}

#footer .contact-info li {
  font-size: 14px;
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}

#footer .contact-info li a {
  color: #0014ffd73930;
}

#footer .contact-info li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: #0014ff;
  color: #555863;
}

#footer .social-media {
  margin: 0 0 30px 0;
  padding: 0;
}

#footer .social-media li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-right: 10px;
}

#footer .social-media li a {
  color: #0014ff;
}

#footer .social-media li a:hover,
#footer .social-media li a:focus,
#footer .social-media li a:active {
  text-decoration: none;
}

#footer .contact-form .form-group input[type="name"],
#footer .contact-form .form-group input[type="text"],
#footer .contact-form .form-group input[type="email"],
#footer .contact-form .form-group textarea {
  font-size: 14px;
}

#footer .contact-form .form-group input[type="name"]::-webkit-input-placeholder,
#footer .contact-form .form-group input[type="text"]::-webkit-input-placeholder,
#footer .contact-form .form-group input[type="email"]::-webkit-input-placeholder,
#footer .contact-form .form-group textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#footer .contact-form .form-group input[type="name"]:-moz-placeholder,
#footer .contact-form .form-group input[type="text"]:-moz-placeholder,
#footer .contact-form .form-group input[type="email"]:-moz-placeholder,
#footer .contact-form .form-group textarea:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}

#footer .contact-form .form-group input[type="name"]::-moz-placeholder,
#footer .contact-form .form-group input[type="text"]::-moz-placeholder,
#footer .contact-form .form-group input[type="email"]::-moz-placeholder,
#footer .contact-form .form-group textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}

#footer .contact-form .form-group input[type="name"]:-ms-input-placeholder,
#footer .contact-form .form-group input[type="text"]:-ms-input-placeholder,
#footer .contact-form .form-group input[type="email"]:-ms-input-placeholder,
#footer .contact-form .form-group textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#footer .contact-form .form-group input {
  color: #fff;
  background: transparent;
  border: none;
  background: #485b71;
  background: #3e3f47;
  box-shadow: none;
}

#footer .contact-form .form-group textarea {
  color: #fff;
  background: transparent;
  border: none;
  background: #3e3f47;
  box-shadow: none;
}

#footer #btn-submit {
  color: rgba(255, 255, 255, 0.9) !important;
  background: #0014ff !important;
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: "Open Sans", Arial, sans-serif !important;
}

.nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}

.nav-toggle.active i::before,
.nav-toggle.active i::after {
  background: #fff;
}

.nav-toggle:hover,
.nav-toggle:focus,
.nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}

.nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 2px;
  color: #fff;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  transition: all .2s ease-out;
}

.nav-toggle i::before,
.nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav-toggle i::before {
  top: -7px;
}

.nav-toggle i::after {
  bottom: -7px;
}

.nav-toggle:hover i::before {
  top: -10px;
}

.nav-toggle:hover i::after {
  bottom: -10px;
}

.nav-toggle.active i {
  background: transparent;
}

.nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.nav-toggle {
  position: absolute;
  top: 6px;
  right: 15px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}

@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.btn-primary {
  background: #0014ff;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  box-shadow: none;
  background: #0014ff;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}

.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}

.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}

.social li a i {
  display: table-cell;
  vertical-align: middle;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
  text-decoration: none;
  border-bottom: none;
}

.social li a.social-box {
  background: #0014ff;
  color: #fff;
}

.social li a.social-circle {
  background: #0014ff;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.social li a:hover {
  background: #393e46 !important;
}

.social.social-box a {
  background: #0014ff;
  color: #fff;
}

.social.social-circle a {
  background: #0014ff;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.js .to-animate,
.js .to-animate-2,
.js .to-animate-3,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.animation {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-controls .owl-dot span {
  background: #333333;
}

.owl-carousel .owl-controls .owl-dot span:hover,
.owl-carousel .owl-controls .owl-dot span:focus {
  background: #4d4d4d;
}

.owl-carousel .owl-controls .owl-dot:hover span,
.owl-carousel .owl-controls .owl-dot:focus span {
  background: #4d4d4d;
}

.owl-carousel .owl-controls .owl-dot.active span {
  background: transparent;
  border: 2px solid #0014ff;
}
.buttonr {
    color:white;
    
}

.nav-item:hover {
    border-style:solid;
    border-bottom-color:blue;
    width::50px;
}



.dribbble {
    
}



span {
    text-transform: uppercase;
}

#sponsors {
    
}

#sponsors {
    
}

#fh5co-news {
    width:100%;
    height: auto;
   background-color: red;
}

.block {
     width:100%;
    height: auto;
   background-color: red;
    z-index: 100;
}

.getting-started {
    
}
.news {
    background-color:18191f;
    height: auto;
    padding-top: 50px;
    padding-bottom:50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
}
.hero-image {
  background-image: url("https://preview.ibb.co/gFmbkq/csgo.png");
  height: 300px;
  width:auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
cursor:pointer;
     z-index: 95;
}

}
.hero-text {
  text-align: center;
  position: absolute;
  margin-bottom:0px;
  bottom:0%;  
  color: white;
    cursor:pointer;
     z-index: 92;
}

.button {
    position: absolute;
    bottom:0%;
    margin-bottom:0px;
    width:100%;
    height: 60px;
    background-color:rgb(34, 49, 78);
    text-align: center;
    color:white;
    font-size:2em;
    font-weight: bold;
    cursor:pointer;
    z-index: 90;
}
.button:hover {
    background-color:rgba(255, 255, 255, 0.44);
}


h6 {
    margin-left: 11px;
    margin-right: 50px;
    font-size:50px;
    font-weight: bold;
}

.imageer img {
  height: auto;
  width:70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



h10 {
    font-weight: bold;
    color:white;
    font-size: 20px;
}

.wrapper {
    background:linear-gradient(to bottom left, blue 50%, #1A1B1E 50%);
    width:100%;
    height: 10vh;
}

.wrapper2 {

 background:linear-gradient(to top right, blue 50%, #1A1B1E 50%);
    width:100%;
    height: 10vh;
}
.wrapper3 {
       background:linear-gradient(to bottom right, blue 50%, #1A1B1E 50%);
    width:100%;
    height: 10vh;
}
span img {
    width:500px;
}


.thumb {
    display: block;
	width: 100%;
	margin-right: 0px;
    margin-left:0px;
}

.by-author {
	font-style: italic;
	line-height: 1.3;
	color: #aab6aa;
}


.featured-article {
	width: 100%;
	height: 280px;
	position: relative;
	margin-bottom: 1em;
}

.featured-article .block-title {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: rgba(0,0,0,0.7);
	padding: .5em;
	width: 100%;
	color: #fff;
    cursor:pointer;
}
.featured-article .block-title:hover {
    background: rgba(31, 30, 30, 0.7);
}

.featured-article .block-title h2 {
	margin: 0;
}


.main-list {
	padding-left: .5em;
}

.main-list .media {
	padding-bottom: 1.1em;
	border-bottom: 1px solid #e8e8e8;
}
.media-heading a {
    text-decoration: none;
    color:white;
	background: linear-gradient(white, white) bottom / 0 .1em no-repeat;
	transition: 1s background-size;
}
.media-heading a:hover {
    color:blue;
    background-size: 100% .1em;
    
}
.block-title h2 a {
    text-decoration: none;
    color:white;
    	background: linear-gradient(white, white) bottom / 0 .1em no-repeat;
	transition: 1s background-size;
}
.block-title h2 a:hover {
    color:blue;
        background-size: 100% .1em;
}

a.left {
	background-position: left bottom;
}

a.right {
	background-position: right bottom;
}
hr {
    width:100%;
}

.blue {
    color:blue;
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1c30cb;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #0014ff;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #0014ff;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
.incoming {width:80%;
height: 350px;
    background-color:#26272c;
    border-style: solid;
    border-width: 10px;
    border-color:#23252a;
    margin-bottom: 20px;
    margin-left:90px;
    
}
.headerero {
        background-color:#26272c;

    color:white;
    text-align: center;
    font-size:20px;
    font-family:"Raider Crusader Straight";

}
.match1 {
     background-color:#26272c;

    color:white;
    text-align: center;
    font-size:20px;
}
.league {
    width:40%;
    height: auto;


}
.league img {
    transform: translateY(45%);
        width:50%;
}
.match3 {
     background-color:#26272c;

    color:white;
    text-align: center;
    font-size:20px;
}
.match2 {
     background-color:#26272c;

    color:white;
    font-size:20px;
}
.score {
   width: 60%;
    height: auto;
float: right;
    position: relative; 
top:-70px;
height: auto;
    
}
.score h1 {
    font-size:20px;
        margin: 0 0 5px 0;
    
}
.score h2 {
    font-size:18px !important;
        margin: 0 0 5px 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.score h3{
    font-size:16px !important;
    text-decoration: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.random {
    font-family:Verdana;
    font-weight: bold;
    
}
h3 a{
    color:#6441A4 ;
}
h3 a:hover{
    color:rgba(100, 65, 164, 0.78) ;
}

h5 {
    font-size:35px;
    margin-left:30px;
}
td h1 {
    font-size:20px;
}


.event2 {
     background-color:#26272c;

    color:white;
    font-size:20px;
     width: 40%;

}
    .event1 {
            background-color:#26272c;

    color:white;
    font-size:20px;
         width: 40%;

    }
.event1 img {
    width:38%;
margin-left:10px;
     margin-top: 6px;
}
.event2 img {
    width:38%;
margin-left:10px;
     margin-top:6px;
}

.headerero h5 {
    font-size: 20px;
    text-align: center;
    margin-top:10px;

}



.scorex2 {
   width: 60%;
    height: auto;
float: right;
    position: relative; 
top:-120px;
    right:125px;
height: auto;
    text-align: center
    
}
.scorex2 h1 {
    font-size:20px;
        margin: 0 0 5px 0;
    
}
.scorex2 h2 {
    font-size:18px !important;
        margin: 0 0 5px 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.scorex2 h3{
    font-size:16px !important;
    text-decoration: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
}


.scorex2 a {
    color:blue;
}
.scorex2 a:hover {
    color:blue;
}

@media (max-width: 575.98px) {
    .imageer img {
  height: auto;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    left:-5%;
    top:20px;
}
    h10 {
        position: relative;
        top:-20px;
    }
    
    
    .incoming {
    margin-left:45px;
        height: 380px;
    } 

.score h1 {
    font-size:15px;
        margin: 5px 0 5px 0;
}
.score h2 {
    font-size:13px !important;
        margin:  5px 0 5px 0;
}
.score h3{
    font-size:12px !important;
    text-decoration: none;
}

    .featured-article img {
        height: auto;
        width:90vw;
    }
     .featured-article .block-title {
         width:90vw;
    }
    hr {
        width:96%;
        margin-left:5px;
    }
    .row h1{
        margin-left:10px;
    }
    .league img {
    margin-top:20px;
        
}
.event1 img {
    width:55%;
margin-left:20px;
     margin-top: 15px;
}
.event2 img {
    width:55%;
margin-left:20px;
     margin-top:60px;
}
    .scorex2 {

    position: relative; 
top:-120px;
    right:100px;
    
}
            .scorex2 h2 {
        position: relative;
        left: 80px;
                top:25px;
                font-size:13px !important;
    }
     .scorex2 h1 {
        position: relative;
        left: 80px;
         top:25px;
         font-size: 15px!important;
    }
     .scorex2 h3 {
        position: relative;
        left: 80px;
         top:25px;
          font-size:12px!important;
    }
    .headerero h5 {
        position: relative;
        left:-15px;
    }
    .incoming {
        height: 400px;
    }
    body {
        width:100%;
    }
        #navigation #navbar li a {
        font-size:17px;
            font-weight: bold;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #navigation #navbar li a {
        font-size:17px;
    }
    body {
        width:100%;
    }
.event1 img {
    width:48%;
margin-left:10px;
     margin-top: 15px;
}
.event2 img {
    width:48%;
margin-left:10px;
     margin-top:15px;
}
.scorex2 {

    position: relative; 
top:-120px;
    right:100px;
    
}
        .scorex2 h2 {
        position: relative;
        left: 60px;
           
    }
     .scorex2 h1 {
        position: relative;
        left: 60px;
       
    }
     .scorex2 h3 {
        position: relative;
        left: 60px;
        
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
        #navigation #navbar li a {
        font-size:16px;
            position: relative;
            left:50px;
    }
        body {
        width:100%;
    }

.event1 img {
       width:40%;
margin-left:10px;
     margin-top: 15px;
}
.event2 img {
       width:40%;
margin-left:10px;
     margin-top:15px;
}
        .scorex2 h2 {
        position: relative;
        left: 90px;
    }
     .scorex2 h1 {
        position: relative;
        left: 90px;
    }
     .scorex2 h3 {
        position: relative;
        left: 90px;
    }
        .headerero h5 {
        position: relative;
        transform: translateX(25%)
            
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
        body {
        width:100%;
    }
    .incoming {
    margin-left:45px;
        height: 400px;
    }  
.event1 img {
    width:58%;
margin-left:10px;
     margin-top: 15px;
}
.event2 img {
    width:58%;
margin-left:10px;
     margin-top:15px;
}

    .featured-article img {
        width:80%;
    }
    .featured-article .block-title {
        width: 80%;
    }
    
    .scorex2 h2 {
        position: relative;
        left: 100px;
         top:18px;
    }
     .scorex2 h1 {
        position: relative;
        left: 100px;
          top:18px;
    }
     .scorex2 h3 {
        position: relative;
        left: 100px;
          top:18px;
    }
    
        .headerero h5 {
        position: relative;
        left:-13px;
    }
    
            #navigation #navbar li a {
        font-size:17px;
                position: relative;
                right: 10px;

    }
    
    
    
    
}
@media (min-width: 1200px) and (max-width:1450px) {
        body {
        width:100%;
    }
    
    .event1 img {
    width:54%;
margin-left:10px;
     margin-top: 15px;
}
.event2 img {
    width:54%;
margin-left:10px;
     margin-top:15px;
}
.scorex2 {

    position: relative; 
top:-120px;
    right:100px;
    
}
        .scorex2 h2 {
        position: relative;
        left: 80px;
    }
     .scorex2 h1 {
        position: relative;
        left: 80px;
    }
     .scorex2 h3 {
        position: relative;
        left: 80px;
    }
         .headerero h5 {
        position: relative;
        left:-25px;
    }
}

.wrapper4 {
     background:linear-gradient(to top right, blue 50%, #1A1B1E 50%);
    width:100%;
    height:111vh;
}

.overlay {
    
}
