/* CSS reset & generals  */

body{
    margin:0;
    padding:0;
    background-color: #f1f1f1;
}
a {
    color: inherit;
    text-decoration: inherit;
}

/* index.html page  */

#logo {
    padding-top:20px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    width:500px;
}
.main-text{
    padding-top:10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#credits-text {
    font-size: 20px;
}
.main-button{
    padding-top:20px;
    text-align: center;
}
.main-button button{
    font-size: 25px;
    font-weight: bold;
    padding:10px;
}
#credit {
    width: 150px;
    transform:rotate(90deg);
    cursor:pointer;
}
img {
    width: 50px;

    transform:rotate(0deg);

}
/* Card.html page  */
#welcome-text {
    padding-top:10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#insertCard-text {
    font-size: 20px;
    padding-top:20px;
    text-align: center;
    font-weight: bold;
}
a img{
    width: 200px;
    position:relative;
    top:3rem;
    left:50%;
    transform:translateX(-50%);
}
/* Pin.html page  */
#pin-text{
    padding-top:10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
form{
    padding-top:5px;
    text-align: center;
}
form input[type="password"]{
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}
form input[type="button"]{
    font-size: 25px;
    border-radius:5%;
    padding: 20px;
    background-color: #e5e5e5;
    border:solid 2px black;
    cursor:pointer;
    text-align: center;
}
form input[type="reset"]{
    font-size: 25px;
    border-radius:5%;
    background-color: #e5e5e5;
    border:solid 2px black;
    padding: 20px;
    cursor:pointer;
    text-align: center;
}
/* action.html page  */
#action-text{
    padding-top:10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.action-btn{
    font-size: 20px;
    padding: 10px;
}

#action-div{
    margin: 0;
    width:600px;
    margin: auto;

}

/* cashIN.html page  */
#deposiType-text {
    padding-top:10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
/* checkBalance.html page  */

#balance-text{
    padding-top:10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#balance-div   {
    margin: 0;
    padding-top:20px;
    width:200px;
    margin: auto;
}

/* autoDP.html page  */

#depositDone-text{
    padding-top:10px;
    text-align: center;
    font-size: 30px;
}
#thank-text{
    padding-top:10px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;

}

#moneyDeposit, #balanceAfterAutoDeposit {
    color:#00B140;
    font-weight: bold;
}

#autoDP-btn {
    margin: 0;
    width:200px;
    margin: auto;
    padding-top:20px;
}

#autoDP-btn button{
    font-size: 25px;
    padding: 10px;
    background-color: #e5e5e5;
    border: solid 2px black;
    border-radius: 5%;
}
/* cashOut.html page  */

#withdrawOP-text{
    padding-top:10px;
    text-align: center;
    font-size: 30px;
    padding-bottom:25px;
    font-weight: bold;
}

#money{
    color:#00B140;
    font-weight: bold;
}
/* cashOutDone.html page  */

#withdraw-text{
    padding-top:10px;
    text-align: center;
    font-size: 30px;
    padding-bottom:25px;
    font-weight: bold;
}

#thankwd-text{
    padding-top:10px;
    text-align: center;
    font-size: 30px;
    padding-bottom:25px;
    font-weight: bold;
}
#moneyAuto{
    color:#00B140;
    font-weight: bold;
}
#balanceAuto{
    color:#00B140;
    font-weight: bold;
}
#banknote{
    margin:auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#wd-btn{
    margin:auto;
    width:300px;
}

#wd-btn button{
    font-size: 25px;
    padding: 10px;
    background-color: #e5e5e5;
    border: solid 2px black;
    border-radius: 5%;
}

/* other.html page  */

form input[type="number"]{
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}
.other-text{
    padding-top:10px;
    text-align: center;
    font-size: 30px;
    padding-bottom:25px;
    font-weight: bold;
}
#moneyOut{
    color:#00B140;
    font-weight: bold;
}
#balanceLeft{
    color:#00B140;
    font-weight: bold;
}

/* depositDone.html page  */

#deposit-button button{
    font-size: 25px;
    padding: 5px;
    background-color: #e5e5e5;
    border: solid 2px black;
    border-radius: 5%;
}
#deposit-button{
    padding-top:5px;
}

#dpCash,#dpBalance{
    color:#00B140;
    font-weight: bold;
}
#warning,  #outCash {
    font-size:25px;
}